<div class="main-dashboard-container">
  <div class="dashboard-container-top">
    <div class="dashboard-container-top-upper">
      <div class="navbar-container">
        <button>Overview</button>
        <button>Issues</button>
        <button>Employees</button>
        <button>Hiring</button>
      </div>
    </div>
    <div class="dashboard-container-top-lower">
      <div class="info-block">
        <h3>Sick Leave</h3>
        <div class="horizontal-text-holder">Available Days</div>
        <div class="info-block-bottom">
          <div class="info-block-bottom-left">
            <h4>Unlimited</h4>
            <p>Available</p>
          </div>
          <div class="info-block-bottom-right">
            <h4>Number</h4>
            <p>Taken</p>
          </div>
        </div>
      </div>
      <div class="info-block">
        <h3>Holidays</h3>
        <div class="horizontal-text-holder">Available Days</div>
        <div class="info-block-bottom">
          <div class="info-block-bottom-left">
          </div>
          <div class="info-block-bottom-right">
          </div>
        </div>
      </div>
      <div class="info-block">
        <h3>Special</h3>
        <div class="horizontal-text-holder">Available Days</div>
        <div class="info-block-bottom">
          <div class="info-block-bottom-left">
          </div>
          <div class="info-block-bottom-right">
          </div>
        </div>
      </div>
      <div class="info-block">
        <h3>Working From Home</h3>
        <div class="horizontal-text-holder">Available Days</div>
        <div class="info-block-bottom">
          <div class="info-block-bottom-left">
          </div>
          <div class="info-block-bottom-right">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-container-bottom">
    <div class="dashboard-container-bottom-left">
      <div class="pie-container">
        <div class="pie-chart">
          <h1>All Employees</h1>
        </div>
        <div class="pie-chart">
          <h1>Office / Home</h1>
        </div>
      </div>
    </div>
    <div class="dashboard-container-bottom-center">
      <div class="dashboard-container-bottom-center-center-top">
        <p>Who's Away</p>
        <h3>🚬</h3>
      </div>
      <div class="dashboard-container-bottom-center-center">
        <p>Today</p>
      </div>
      <div class="dashboard-container-bottom-center-bottom">
        <p>Tomorrow</p>
      </div>

    </div>
    <div class="dashboard-container-bottom-right">

    </div>
  </div>
</div>




